.center{
    text-align: center;
}                        
body {
    background-color: #F0FFF0;
    cursor: none;
}
summary::-webkit-details-marker {
    display: none;
} 
summary{
    font-size: 27px;
    padding: 10px 0 10px 0
}
img{
    width: 600px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 500px 0px 500px;

}
.accordion {
    max-width: 600px;
    min-width: 400px;
}
.accordion__title {
    text-align: center;
    font-size: 40px;
    color: #008B8B;
}


